{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [2, "only-multiline"],
    "no-console": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-extra-parens": 2,
    "no-extra-semi": 2,
    "no-irregular-whitespace": 2,
    "no-unreachable": 2,
    "curly": 2,
    "dot-location": [2, "property"],
    "no-eval": 2,
    "no-extend-native": 2
  }
}